<div class="container" id="services">
  <h1 id="servicesServices">{{pt.servicesServices}}</h1>
  <div class="services-container">
    <div>
      <img src="../../images/icons/accountancy.png" alt="accountancy" />
      <div id="servicesAccountant">{{pt.servicesAccountant}}</div>
    </div>
    <div>
      <img src="../../images/icons/tax.png" alt="tax" />
      <div id="servicesTax">{{pt.servicesTax}}</div>
    </div>
    <div>
      <img src="../../images/icons/clients-management.png" alt="clients" />
      <div id="servicesClientsManagement">{{pt.servicesClientsManagement}}</div>
    </div>
    <div>
      <img src="../../images/icons/consulting.png" alt="consulting" />
      <div id="servicesConsulting">{{pt.servicesConsulting}}</div>
    </div>
    <div>
      <img src="../../images/icons/hr.png" alt="human-resources" />
      <div id="servicesHumanResources">{{pt.servicesHumanResources}}</div>
    </div>
  </div>
</div>
